[submodule "models/sophiemeakin"]
	path = models/sophiemeakin
	url = git@github.com:sophiemeakin/ecdc-covid19-admissions.git
	ignore = dirty
[submodule "models/epinow2"]
	path = models/epinow2
	url = git@github.com:epiforecasts/europe-covid-forecast.git
	branch = auto-submissions
	ignore = dirty
[submodule "models/UpgUmibUsi"]
	path = models/UpgUmibUsi
	url = git@github.com:Bisaloo/autosubmission-UpgUmibUsi.git
	ignore = dirty
[submodule "models/weekly-growth"]
	path = models/weekly-growth
	url = git@github.com:seabbs/ecdc-weekly-growth-forecasts
	ignore = dirty
