[submodule "models/epinow2"]
	path = models/epinow2
	url = git@github.com:epiforecasts/europe-covid-forecast.git
	branch = auto-submissions
	ignore = dirty
[submodule "models/UpgUmibUsi"]
	path = models/UpgUmibUsi
	url = git@github.com:Bisaloo/autosubmission-UpgUmibUsi.git
	ignore = dirty
[submodule "models/weekly-growth"]
	path = models/weekly-growth
	url = git@github.com:sbfnk/ecdc-weekly-growth-forecasts
        branch = update-data
	ignore = dirty
[submodule "models/EuroCOVIDhub-baseline"]
	path = models/EuroCOVIDhub-baseline
	url = git@github.com:covid19-forecast-hub-europe/covid19-forecast-hub-europe-baseline.git
	ignore = dirty
[submodule "models/ULZF"]
	path = models/ULZF
	url = git@github.com:covid19-forecast-hub-europe/autosubmission-ULZF.git
[submodule "models/CovidMetrics-epiBATS"]
	path = models/CovidMetrics-epiBATS
	url = git@github.com:arodloff/autosubmission-CovidMetrics-epiBATS.git
[submodule "models/epiforecasts-admissions"]
	path = models/epiforecasts-timeseries
	url = https://github.com/epiforecasts/ecdc-covid19-admissions
